/*General Page Layout Styles*/
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100%;

}

.full-screen-div {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-bar{
  background-color: #A10000;
  height: 10vh;
  text-transform: uppercase;
  font-size: 3rem;
  color: #FFE74C;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: #08415C  solid 0.5rem;
}

.all-content{
  display: flex;
  height: 86.73vh;
  position: relative;
  flex-direction: column;
}

.side-bar{
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  width: 23%;
  height: 70%;
  background-color: whitesmoke;
  border-right: transparent;
  border-bottom: #ffea4c 0.5rem solid;
  padding: 0.5rem;
  color: #1f1f1f;
  justify-content: start;
  transition: 0.7s ease;
}





.buttons-side-bar-col{
  flex-direction: column;
  display: flex;
  margin-top: 1em;
  margin-left: -24%;
}


.content-side-bar-col{
  flex-direction: column;
  overflow: auto;
  font-size: 0.75rem;
  width: 100%;
}

.checkies ul {
	list-style-type:none;
  list-style-position: outside;
  margin: 0;
  padding: 1em;
  background: #08415C;
  color: whitesmoke;
}
.checkboxes label {
  display: inline-block;
  padding: 1rem;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align:text-bottom;
}
.checkboxes label span {
  vertical-align: top;
}
input.mediumCheck {
  width: 15px;
  height: 15px;
}


input.largerCheck {
  width: 25px;
  height: 25px;
}

#over_map_side2 { 
  position: absolute; 
  top: 8%;
  left: 24%;
  z-index: 101;
  width: 2em;
  transition: 
  visbility 0.7s ease,
  width 0.5 ease,
  left 0.5 ease;
}


#over_map_side { 
  position: absolute; 
  top: 8%;
  left: 0;
  z-index: 99; 
}
/* == for data table == */
#over_map_table { 
  z-index: 99; 
  width: 70%;
  align-self: end;
  position: absolute;
  bottom: 1px;
}

.tabulator {
  position: relative;
  border: transparent;
  background-color: whitesmoke;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  color:#A10000;
  text-align: left;
  overflow: scroll;
}
#table {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.accordion-item input{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 25%;
  align-self: end;
  margin-bottom: 5px;
}


.accordion-item #hist {
  padding-top:1em;
}

/*== map */
.map {
  flex-grow: 1;
  width: 100%;
  height: 90%;
  z-index: 10;
  object-fit: cover;
}

.popupTable th{
  border-top: 0.2rem solid #A10000;
  color:#1F1F1F;
  text-align: center;
}



.popupTable td{
  padding: 0.5rem;
  border-top: 0.1rem solid #1f1f1f;
  text-align: left;
}
.popupTable tr:hover{
  background-color: rgb(255, 231, 76);
  color: #1F1F1F;
}



/*Font Styles*/

.title {
  font-family: 'Ranga', cursive;
  text-transform: uppercase;
  font-weight: 700;

}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Work Sans', sans-serif;
}

ul {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
}



/*
  Bootstrap's screen-width breakpoints:
  X-Small    < 576px
  Small      ≥ 576px
  Medium     ≥ 768px
  Large      ≥ 992px
  X-large    ≥ 1200px
  XX-large   ≥ 1400px
  (Source: https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints)
*/


@media screen and (max-width: 768px) {
  .map {
    flex-grow: 1;
    width: 100%;
    height: 90%;
    z-index: 10;
    object-fit: cover;
  }
  .top-bar{
    background-color: #A10000;

    height: 7vh;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FFE74C;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0;
    border-bottom: #08415C solid 0.2rem;
  }
  .all-content{
    display: flex;
    height: 91vh;
    position: relative;
    flex-direction: column;
  }
  .title {
    font-family: 'Ranga', cursive;
    text-transform: uppercase;
    font-weight: 700;
  
  }
  .side-bar{
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    width: 213px;
    height: 70%;
    background-color: whitesmoke;
    border-right: transparent;
    border-bottom: #ffea4c 0.5rem solid;
    padding: 1rem;
    color: #1f1f1f;
    transition: 0.7s ease;
  }

  .buttons-side-bar-col{
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 0;
    left: 10px;
    transition: 1s  ease;
    margin-top: 0;
  }


  .content-side-bar-col{
    flex-direction: column;
    display: flex;
    overflow: auto;
    flex-grow: 1;
  }
  

  #over_map_side2 {
    position: absolute; 
    top: 0;
    left: -17px;
    z-index: 101;
    width: 0;
    background-color: transparent;
    border-bottom: transparent;
    
  }

}
@media screen and (max-height: 500px) {
  .map {
    flex-grow: 1;
    width: 100%;
    height: 90%;
    z-index: 10;
    object-fit: cover;
  }
  .top-bar{
    background-color: #A10000;

    height: 7vh;
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFE74C;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0;
    border-bottom: #08415C solid 0.2rem;
  }
  .all-content{
    display: flex;
    height: 91vh;
    position: relative;
    flex-direction: column;
  }
  .title {
    font-family: 'Ranga', cursive;
    text-transform: uppercase;
    font-weight: 700;
  
  }
  .side-bar{
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    width: 213px;
    height: 70%;
    background-color: whitesmoke;
    border-right: transparent;
    border-bottom: #ffea4c 0.5rem solid;
    padding: 1rem;
    color: #1f1f1f;
  }

  .buttons-side-bar-col{
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 0;
    transition: 1s  ease;
  }


  .content-side-bar-col{
    flex-direction: column;
    display: flex;
    overflow: auto;
    flex-grow: 1;
  }
  

  #over_map_side2 {
    position: absolute; 
    top: 0;
    left: -17px;
    z-index: 101;
    width: 0;
    background-color: transparent;
    border-bottom: transparent;
  }

}